doctype html
html
    head
        link(rel="stylesheet" href="login.css")
    body
        .container
        
            h1(style="text-align:center")#registerForm Register Form
            .login

                input(type="text" name="username" placeholder="username")
                input(type="password" name="password" placeholder="password")
                
                input( type="submit")
            
        
        p.submit
        .display-box
        #myOnlyDiv
        